{{#if book}}

<div class="container" id="conHeight">
    <div class="box" id="boxBook">
        <div class="content1">
            <h3 style="color:antiquewhite;"><b>{{book.title}}</b></h3>

            <h4 style="color: white;">This book get grade {{book.grade}}/10. <br><b> Description:</b> <br> {{book.description}}</h4>

               
            {{#if isLoggedIn}}
                <form action="/delete-books/{{book.id}}" method="POST">
                    <a class="btn btn-primary" href="/update-books/{{book.id}}">Update</a>
                    <input class="btn btn-primary" type="submit" value="Delete">
                </form>
            {{/if}}

        </div>
    </div>
</div>


{{else}}
<p class="book">that book does not exist.</p>
{{/if}}