<div class="container" id="conHeight">
    <div class="box" >
        <div class="content">
{{#if dbError}}
    <p>Can't display this page right now, try again.</p>
{{else}}
<h3><a style="color:aliceblue" href="/create-books">Add a book</a></h3>

{{#if books.length}}
    <p> 
    <ul style="color:aliceblue" >
        {{#each books}}
        <li>
            <a style="color:aliceblue" href="books/{{id}}">{{title}} </a>({{grade}}/10) </li>
        {{/each}}
    </ul>
    </p>

{{else}}
    <p>we have nothing to show</p>
  </div>
</div>
</div>
{{/if}}

{{/if}}


